body {
    margin: 0;
    overflow: hidden;
}

/* 操作ボタン */
#ar-controls {
    position: fixed;

    left: 50%;
    bottom: 30px;

    transform: translateX(-50%);

    display: flex;
    align-items: center;
    gap: 15px;

    z-index: 99999 !important;
}

#ar-controls button {
    width: 70px;
    height: 70px;

    font-size: 32px;
    font-weight: bold;

    border: 2px solid black;
    border-radius: 10px;

    background: white;
    color: black;

    opacity: 1;

    touch-action: manipulation;
}

#scale-value {
    color: white;
    font-size: 20px;
    font-weight: bold;

    text-shadow:
        1px 1px 3px black,
        -1px -1px 3px black;
}